:root {
   --softBlue: hsl(231, 69%, 60%);
   --softRed: hsl(0, 94%, 66%);
   --white: #ffffff;

   --grayishBlue: hsl(229, 8%, 60%);
   --darkBlue: hsl(229, 31%, 21%);
   --overlay: rgba(37, 43, 70, 0.95);
}
